<ion-view title='About' class="bar-header bar-light">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-stable">

        <center>
            <div class="circular"></div>
        </center>
        </br>
        <center>This app was developed by Brian Odumo. </br> If you'd like to contribute stories to the app, contact me by using the feedback form. All are welcome to contribute! </center>
        </br>
        <center>
            <form ng-submit="goToFeedback()">
                <button type="submit" class="button button-positive">
                    Feedback
                </button>
            </form>
        </center>

    </ion-content>
</ion-view>