<ion-view title="Playlists" hide-back-button="true" class="homeBg" hide-nav-bar="true">
    <ion-content has-header="true" padding="true">
        <div class="loginHelp">
            <a ng-click="login()">Login Help</a>
        </div>
        <div class="homeText" style="font-family: yard_saleregular;">SPK 411</div>
        <div class="homeTextSmall">Home of Everything SPK.</div>
        <div class="google">
            <button class="button button-block button-assertive" ng-click="googleLogin()">
                <i class="icon ion-social-googleplus"></i> &nbsp;Login with Google
            </button>


            <div class="day">Today is a day {{day.day}}.</div>
        </div>
        <div class="homeEmail">
            Use your @ocsbstudent.ca or @ocsb.ca email address.
        </div>
    </ion-content>

</ion-view>