<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">How to Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    Every student has an @ocsbstudent.ca email address.</br> Yours is your firstname.lastname@ocsbstudent.ca and your password is the same as the one you use to log onto school computers.</br> By default, your password is Welcome2FL (Replace F with your first initial and L with your last initial).</br>
    If you still have trouble logging in, ask a librarian for help setting up your account.
  </br>
  </br>
    For Parents:
    </br>
    Have your child login with their account. You will remain logged in until you log out.
  </ion-content>
</ion-modal-view>
