<ion-view title="Tutorial" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
    <div class="bar bar-header bar-positive">
  <h1 class="title">Tutorial</h1>
</div>
</br>
</br>
</br>
 
            <ion-slide-box>

  <!-- Slide page one -->
  <ion-slide>
    <h2 style="text-align: center;">Welcome!</h2>
    <p style="text-align: center;">
     Go to your settings and enter what you have Period 3 on a Day 1. This will make what you have period 3 on a given day visible in the menu.
    </p>
    <center><img style ="max-height: 300px;" src="img/tutorial.jpg"></center>
      <center>Swipe to the left to continue</center>
    </br>
  
    </br>
  </ion-slide>

  <!-- Slide page two -->
  <ion-slide>
    <h2 style="text-align: center;">That's it!</h2>
    <p style="text-align: center;">
      You'll be able to see important updates on the main feed. Open the menu on the left to reveal the sports section and update your information.
    </p>
    <button class="button button-block button-positive" ng-click="doneTutorial()">
                
               Enter the app
            </button>
    </br>
    </br>
  </ion-slide>

  <!-- More slides here... -->
</ion-slide-box>

    </ion-content>

</ion-view> 

           